


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pdf</title>
</head>
<body>
    <div>
        <object data="" type="application/pdf" width="100" height="100">

            <p>Tu navegador no tiene el plugin para previsualizar documentos pdf.</p>
            <p>Puedes descargarte el archivo desde <a href="~/Content/src/CV Miguel Cardenas.pdf">aquí</a></p>

        </object>
    </div>
</body>
</html>
